@model Fish_Registration.Models.ManageViewModels.ProfileIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="div_profile_image">
<img class="profile_image" src="/images/fisherman-profile.png" style="width: 150px; height: 150px" class="img-circle"/>
</div>

<h1 class="profile_name">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<div class="list_container">
  <ul class="profile_list">
    <li>Birthdate: @Html.DisplayFor(model => model.DOB)</li>
    <li>Nationality: @Html.DisplayFor(model => model.Nationality)</li>
    <li>Weight: @Html.DisplayFor(model => model.Weight) kg</li>
    <li>Height: @Html.DisplayFor(model => model.Height) cm</li>
  </ul>
</div>

<div class="button_container">
  <a href="/Projects" class="btn projects_button">Projects</a>
  <a href="#" class="btn id_button" data-toggle="modal" data-target="#idCard">ID Card</a>
  <a href="/../Manage/Index" class="btn edit_button">Edit Profile</a>
</div>

<!-- Modal -->
<div class="modal fade" id="idCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your ID Card</h4>
      </div>
      <div class="modal-body">
        <div class="background-watermark"></div>
        <div class="id-card-photo-container">
          <div class="persona-container">
            <img src="/images/fisherman-profile.png" style="width: 150px; height: 150px" class="img-circle" />
            <div class="name-container">
              <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
            </div>
          </div>
          <div class="id-card-aside">
            <dl>
              <dt>Date Of Birth</dt>
              <dd>@Html.DisplayFor(model => model.DOB)</dd>
              <dt>Nationality</dt>
              <dd>@Html.DisplayFor(model => model.Nationality)</dd>
              <dt>Height (in cms)</dt>
              <dd>@Html.DisplayFor(model => model.Height)</dd>
              <dt>Weight (in kgs)</dt>
              <dd>@Html.DisplayFor(model => model.Weight)</dd>
            </dl>
          </div>
        </div>
        <div class="bottom-wrapper">
          <img class="qr-code" src="/images/qrcode.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
