@model Fish_Registration.Models.ManageViewModels.ProfileIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="div_profile_image">
<img id="profile_image" src="http://via.placeholder.com/150x150" />
</div>

<h1 id="profile_name">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>

<div id="list_container">
    <ul id="profile_list">
        <li>Birthdate: @Html.DisplayFor(model => model.DOB)</li>
        <li>Nationality: @Html.DisplayFor(model => model.Nationality)</li>
        <li>Weight: @Html.DisplayFor(model => model.Weight) kg</li>
        <li>Height: @Html.DisplayFor(model => model.Height) cm</li>
    </ul>
</div>

<div id="profile_buttons">
<button type="button" class="button" id="projects_button">Projects</button>
<button type="button" class="button" id="id_button">ID Card</button>
<button type="button" class="button" id="edit_button">Edit Profile</button>
</div>
